.activity-log-container {
  background-color: #f9fafb;
  border-radius: 8px;
  max-height: 560px;
  position: relative;
  overflow-y: auto;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activity-log-title {
  padding: 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #c2c3c5;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
  background-color: #f9fafb;
}

.activity-log-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  padding-top: 0;
}

.activity-log-item {
  padding: 0.75rem;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
}

.log-description {
  font-size: 0.95rem;
  color: #111827;

  & > span {
    font-weight: 600;
  }
}

.log-time {
  font-size: 0.85rem;
  color: #6b7280;
  margin-top: 4px;
}

.no-log {
  text-align: center;
  color: #6b7280;
}
