.header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  object-fit: contain;
}

.user-menu-container {
  position: relative;
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-icon {
  cursor: pointer;
  color: #334155;
}

.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  width: 180px;
  padding: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 0.75rem;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}

.user-initial {
  background-color: #475569;
  color: white;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  margin-right: 0.5rem;
}

.user-name {
  font-weight: 600;
  color: #1e293b;
}

.logout-btn {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2em;
  background-color: #ef4444;
  color: white;
  padding: 0.4rem 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #dc2626;
}

.logout-icon {
  font-size: 1rem;
}
